@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
}


body {
  line-height: 1.5;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 
    "nav nav nav "
    "header header header"
    "main main main "
    "section section section "
    "footer footer footer";
  grid-template-rows: auto 1fr auto auto auto; 
  min-height: 100vh;
  gap:0; 
  flex-wrap: wrap;

}
nav {
  grid-area: nav;
}

header {
  grid-area: header;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

body, html {
  height: 100%;
  margin: 0;
  background:#f2f2f2;
}


nav .navbar-brand {
    font-size: 2.5rem;
}

nav .nav-link {
    font-size: 2rem;
}

.logo-navbar {
  width: 120px;
  height: 40px;
}
  
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      padding: 0; 
  }

  
  :root {
    --size: 2rem; 
    --resize: 0.4;
    --fig-width: 9em; /* Ancho de las figuras como porcentaje de la cuadrícula del contenedor */
    --fig-height: 12em; /* La altura se ajusta para mantener la proporción de las imágenes */
    --photo-size: 76%; /* Tamaño de las fotos como porcentaje de la cuadrícula del contenedor */
    --font-size: 0.8em; /* Ajustar si es necesario para la legibilidad */
    --separador: #f2f2f2c5;
    --principal: #b222bf;
    --navbar-footer: #262929; /* Color navbar-footer */
    --background-color: #d290d8; /* Color de fondo */
    --texto: #fff; /* Color de texto */
    --form: #f3d6ee; /* Color principal (rosa) */
    --separador2:#c1a3c4;
    --neon-secondary: #f3d6ee; /* Neon secundario */

}

  
  /* seccion polaroid */
.grid-container {
  display: grid;
  height: 115vh;
  grid-template-columns: 1.15fr 2.70fr 1.15fr; /* Configuración de las columnas */
  gap: 0px; /* Espacio entre las columnas */
  margin: 0;
  padding: 0; /* Elimina cualquier padding */
  background-image:linear-gradient(rgba(7, 14, 21, 0.5), rgba(7, 14, 21, 0.5)),url(https://images.pexels.com/photos/949592/pexels-photo-949592.jpeg);
  background-size: cover;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  gap:0px;
  padding: 0; 
  flex-direction: column-reverse;
}

.grid-item.center {
  flex: 0 0 auto; /* No crece ni se encoge */
  width: calc(100% - 0rem); 
  height: 100%; 
  position: relative; 
  z-index: 1; 
  overflow: hidden; /* Evita que el contenido interno se desborde */
  gap: 0px;
}

.grid-item.left, .grid-item.right {
  font-size: 46px; 
  font-weight: bold; 
  animation:fadeInOut 4s ease-in-out infinite; 
  justify-content: center;
  align-items: center;
  background-size: 500px 950px;
  gap: 0;
}

@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
  }
  25%, 75% {
      opacity: 1;
  }
}

.mo {
  transform:rotate(-45deg); /* Inclinación hacia la izquierda para 'mo' */
  animation: glow 4s ease-in-out infinite;
}
@keyframes glow {
  0%, 100% {
    color: #fff;
    text-shadow:
      0 0 5px #ff8c8c, /* un tono rojo claro */
      0 0 15px #ffa500, /* un tono de naranja para complementar */
      0 0 20px #ffd700, /* un dorado para dar la impresión de los fuegos artificiales */
      0 0 25px #87cefa; /* un azul claro que combine con el cielo */
  }
  50% {
    color: #f2f2f2;
    text-shadow:
      0 0 2.5px #ff8c8c, 
      0 0 5px #ffa500, 
      0 0 10px #ffd700, 
      0 0 15px #87cefa;
  }
}
.ev {
  transform:rotate(-315deg)translateY(-10px); /* Inclinación hacia la derecha para 'ev' */
  animation: glow2 4s ease-in-out infinite;
}
@keyframes glow2 {
  0%, 100% {
    text-shadow:
      0 0 4px rgba(178, 34, 191, 0.7),
      0 0 6px rgba(178, 34, 191, 0.5),
      0 0 12px var(--principal),
      0 0 22px var(--neon-secondary),
      0 0 32px var(--neon-secondary),
      0 0 42px var(--neon-secondary),
      0 0 52px var(--principal) ;

    color: #fff;
  }
  50% {
    text-shadow:
      0 0 3px rgba(178, 34, 191, 0.9),
      0 0 6px rgba(178, 34, 191, 0.7),
      0 0 11px var(--principal),
      0 0 16px var(--neon-secondary),
      0 0 21px var(--neon-secondary),
      0 0 26px var(--neon-secondary),
      0 0 32px var(--principal);
    
    color: var(--texto);
  }
}

#sev{display:none;
}
 
.grid-item.left {
  grid-column: 1 / 2; 
  background-position: center; 
}


.grid-item.right {
  grid-column: 3 / 4; 
  background-position: center; /* Alinea la imagen de fondo hacia la derecha y centra verticalmente */
}


.vintalight {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  width: 90%;
  padding: 80px 0;
  margin: 3px;
  background-size: cover;
}

.vintalight__container {
  position: relative;
  width: 100%;
  max-width: var(--fig-width);
  height: var(--fig-height);
  background-color: #fff;
  font-size: var(--size);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s, margin 0.5s;
}


.vintalight__photo {
  position: relative;
  width: var(--photo-size);
  height: var(--photo-size);
  margin: calc((var(--fig-width) - var(--photo-size)) / 2) auto 0;
  overflow: hidden;
  cursor: pointer;

}

.vintalight__photo::before {
  content: "Ver foto";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: var(--font-size);
  font-family: var(--font-view);
  transform: scale(0);
  transition: all 0.25s;
}

/* Transformaciones específicas para cada contenedor basado en su posición */
.vintalight__container:nth-child(1) {
  transform: translate(-30px, 50px) rotate(-30deg);
  z-index: 40;
}

.vintalight__container:nth-child(1):hover,
.vintalight__container:nth-child(2):hover,
.vintalight__container:nth-child(3):hover,
.vintalight__container:nth-child(4):hover,
.vintalight__container:nth-child(5):hover {
  transform: scale(1.15); /* Escalar al pasar el mouse, sin rotación adicional */
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* Se aplican transformaciones a otros contenedores */
.vintalight__container:nth-child(2) {
  transform: translate(10px, 10px) rotate(7deg);
  z-index: 50;

}

.vintalight__container:nth-child(3) {
  transform: translate(25px, 40px) rotate(20deg);
  z-index: 40;
}

.vintalight__container:nth-child(4) {
  transform: translate(-10px, 20px) rotate(10deg);
  z-index: 30;
 
}

.vintalight__container:nth-child(5) {

  transform: translate(30px, 15px) rotate(-25deg); /* Ajusta la translación y rotación */
  z-index: 20; 
  
}


.vintalight__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.vintalight__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc((var(--fig-height) - var(--photo-size)) - ((var(--fig-width) - var(--photo-size)) / 2));
}

.vintalight__text {
  color: #222;
  font-size: var(--font-size);
  font-family: var(--font-description);
  text-align: center;
  font-weight: 600;
  margin-top: -10px;
}

/*seccion*/
.event-cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 20px;
width: 65%;
max-width: 1200px;
margin: 50px auto; /* Aumenta el margen superior si es necesario para asegurar el espacio con el contenido anterior */
background-image: linear-gradient(rgba(7, 14, 21, 0.5), rgba(7, 14, 21, 0.5));

}


.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer; 
  border: 3px solid var(--principal);
}

.card-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}

/*formulario*/
.form{
  margin-bottom: 30px;
}
.contact-form-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 500;
  padding: 100px 40px;
  background-color: var(--form);
}

.contact__title {
  font-family: Georgia, serif;
  font-weight: 500;
  font-size: 28px;
}
.grey-contact {
  font-size: 14px;
  line-height: 27px;
  color: #2b2b2b;
  font-weight: 300;
  margin-bottom: 22px;
}
.contact-form-container p {
  font-size: 14px;
  line-height: 27px;
  color: #2b2b2b;
  font-weight: 300;
  margin-top: 10px;
}
.contact__subtitle {
  font-family: Georgia, serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.contact__text {
  font-size: 14px;
  line-height: 27px;
  color: #2b2b2b;
  font-weight: 400;
  text-align: left;
}
.contact-form-inputs input,
.contact-form-inputs textarea,
.contact-form-inputs select{
  color: #5a5757;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  width: 95%;
  display: block;
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #f1f1f1;
}
.contact-form-inputs textarea {
  height: auto;
}
.contact-form-inputs input::placeholder,
.contact-form-inputs textarea::placeholder {
  color: #b4b4b4;
}
.contact-form-inputs input:focus,
.contact-form-inputs textarea:focus,
.contact-form-inputs select:focus
{
  outline: 0;
  box-shadow: none;
  border-radius: 4px;
}
.contact-form-inputs {
  display: grid;
  grid-template-columns: 1fr;
}
.btn-form,
.contact-form-inputs button {
  padding: 8px;
  color: #333;
  border: none;
  display: inline-block;
  height: 50px;
  line-height: 46px;
  padding: 0 40px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.btn-form:hover,
.contact-form-inputs button:hover {
  background-color: #772c8d30;
  color: #772c8d;
}
.btn-form,
.text-left {
  text-align: left;
}
.btn-form {
  margin-top: 20px;
  border: 1px solid #d5d5d5;
  text-decoration: none;
}


/* The container */
.contact-form-checkbox {
  display: block;
  position: relative;
  font-family: Georgia, serif;
  font-weight: 500;
  font-size: 15px;
  padding-left: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contact-form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contact-form-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contact-form-checkbox input:checked ~ .checkmark {
  background-color: #b222bf;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contact-form-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contact-form-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* FOOTER */

.pr {
  padding: 1rem;
}

footer {
  height: 220px;
  background-color: #262929;
}

.texto-footer {
  padding-top: 3rem;
  background-color: #262929;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.direccion-footer h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2rem;
  color: var(--principal);
  margin-bottom: 1rem;
}

.direccion-footer {
  display: block;
}

.eventos-footer h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2rem;
  color: var(--principal);
  margin-bottom: 1rem;
}

.eventos-footer {
  display: block;
}


.paginas-footer h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2rem;
  color: var(--principal);
  margin-bottom: 1rem;
}


.links-footer {
  display: flex;
  flex-direction: column;
}



.paginas-footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.seguinos-footer h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2rem;
  color: var(--principal);
  margin-bottom: 1rem;
}

.iconos-footer {
  font-size: 1.8rem;
}

.iconos-footer a {
  color: #fff;
  padding-right: 0.5rem;
}

.copyright {
  background-color: #262929;
}

.texto-copy {
  padding-top: 2rem;
}

.copyright p {
  color: #fff;
  font-size: 1.1rem;
}

 
  
/* Media query para pantallas con un máximo de 480px de ancho */
@media only screen and (min-width:300px)and (max-width: 450px){
  body {
      display: flex;
      gap: 2px;
  }

  nav, header, main, section, footer {
      grid-area: unset; /* Remover la asignación de áreas de la cuadrícula */
      width: 100%; 
      padding: 10px 5px; 
  }
nav{
  width:100%;
}
  .nav-link, .navbar-brand {
      font-size: 1.2rem; /* Disminuir el tamaño de fuente para optimizar el espacio */
  }
  .mo , .ev{
    display:none;
  }
  .logo-navbar {
      width: 60px; /* Reducir aún más el tamaño del logo */
      height: 20px;
  }

  .grid-container {
      display: block; /* Cambiar la disposición a bloque para simplificar */
      height: auto;
      padding: 0; 
  }

  .grid-item {
      flex-direction: column;
      padding: 2px; 
  }

  .vintalight__container {
    max-width: 77%; /* Ajustar el ancho al máximo disponible */
    transform: none; /* Eliminar las transformaciones */
    margin: 1px 0; /* Simplificar los márgenes */
  }

  .vintalight__photo::before {
      font-size: 0.5em; /* Reducir aún más el tamaño de la fuente del overlay */
  }

  .vintalight__container:hover {
      transform: scale(1.05); /* Reducir el efecto de escala al pasar el ratón */
  }
  .event-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    padding: 3px;
    width: 100%;
    margin: 3px auto;
   
  }
  #eccard{
    margin:1px auto ;
    padding: 8px;
    font-size: 14.5px;
  }

  
  .form{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    padding:0px;
    margin-left:0px;
    width:100%;
  }
  .contact-form-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    width: 99%;
    margin-left: -1px;
    align-content: center;
  }
  .contact-form-inputs{
    width: 100%;
    margin: auto;
  }

footer{
  background-color: #262929;
  height:47rem;
}
.texto-footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

footer p {
text-align: center;
color: white;
margin: 0;
font-size: 1.3rem;
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: normal;
}

.direccion-footer h3 {
font-family: "DM Sans", sans-serif;
font-weight: 900;
font-size: 2rem;
color: var(--principal);
margin-bottom: 1rem;
}

.direccion-footer {
display: block;
}

.eventos-footer h3 {
font-family: "DM Sans", sans-serif;
font-weight: 900;
font-size: 2rem;
color: var(--principal);
margin-bottom: 1rem;
}

.eventos-footer {
display: block;
width: 100%;
margin-left: 1px;
}


.paginas-footer h3 {
font-family: "DM Sans", sans-serif;
font-weight: 900;
font-size: 2rem;
color: var(--principal);
margin-bottom: 1rem;
}


.links-footer {
display: flex;
flex-direction: column;
}


.paginas-footer a {
text-decoration: none;
color: #fff;
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.3rem;
}

.seguinos-footer h3 {
font-family: "DM Sans", sans-serif;
font-weight: 900;
font-size: 2rem;
color: var(--principal);
margin-bottom: 1rem;
}

.iconos-footer {
font-size: 1.8rem;
}

.iconos-footer a {
color: #fff;
padding-right: 0.5rem;
}

.copyright {
background-color: #262929;
}

.texto-copy {
padding-top: 2rem;
}

.copyright p {
color: #fff;
font-size: 1.1rem;
}

}
  

/* Media Query para tablets */
@media only screen and (min-width:451px)and (max-width: 800px) {
  body {
    grid-template-areas:
      "nav"
      "header"
      "main"
      "section"
      "footer";
    grid-template-rows: 40px auto 1fr auto auto; 
  }

  .grid-container {
    display: grid; /* Cambiar la disposición a bloque para simplificar */
     height: auto;
     padding: 0;
     grid-template-columns: 15% 70% 15%; /* Ajusta las proporciones de las columnas */
     gap: 0; 
   
}

.grid-item {
    flex-direction: column;
    padding: 2px; 
}



.vintalight__container {
  max-width: 24%; /* Ajustar el ancho al máximo disponible */
  transform: none; /* Eliminar las transformaciones */
  margin: 2px 0; /* Simplificar los márgenes */
}

.vintalight__photo::before {
  font-size: 0.5em; 
}

.vintalight__container:hover {
  transform: scale(1.05); /* Reducir el efecto de escala al pasar el ratón */
}
.vintalight__container:nth-child(1) {
  transform: translate(0px, 50px) rotate(-30deg);
  z-index: 40;
}

footer{
  background-color: #262929;
  width: 105rem;
}

}

@media (max-width: 1024px) {
  body {
    grid-template-areas:
      "nav"
      "header"
      "main"
      "section"
      "footer";
    grid-template-rows: 55px auto 1fr auto auto; /* Ajustes específicos para tabletas */
  }
  .grid-container {
    display: grid; /* Cambiar la disposición a bloque para simplificar */
     height: auto;
     padding: 0;
     grid-template-columns: 15% 70% 15%; /* Ajusta las proporciones de las columnas */
     gap: 0; 
   
}
.vintalight__container:nth-child(1) {
  transform: translate(-10px, 50px) rotate(-30deg);
  z-index: 40;
}
}
@media only screen and (min-width:1700px)and (max-width: 2300px) {

  body {
    grid-template-areas:
      "nav"
      "header"
      "main"
      "section"
      "footer";
    grid-template-rows: 55px auto 1fr auto auto; /* Ajustes específicos para tabletas */
  }
  .grid-container {
    display: grid; /* Cambiar la disposición a bloque para simplificar */
     height: auto;
     padding: 0;
     grid-template-columns: 15% 70% 15%; /* Ajusta las proporciones de las columnas */
     gap: 0; 
   
}
.vintalight__container:nth-child(1) {
  transform: translate(-10px, 50px) rotate(-30deg);
  z-index: 40;
}
.event-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  width: 100%;
  margin: 50px auto;
}

}